body{
  background: #000;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  color: #EB6123;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.75vmin;
  padding-bottom: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 18px;
  font-size: 13vmin;
  color: #fff;
  z-index: 10;
  animation: fade-in 1s linear forwards;
}

img,
.header,
.date-text{
  opacity: 0;
}

.date-text{
  animation: fade-in 1s linear forwards 1s;
  position: absolute;
  bottom: 3%;
  left: 20px;
}

img{
  position: absolute;
  height: 70vh;
  top: 10%;
  left: -35vh;
  animation: fade-in 2s linear forwards 2s;

}

.countdown-text{
  position: absolute;
  top: 10px;
  align-self: center;
  color: #fff;
  letter-spacing: 7vw;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -1px 0 #ff0000;
  background: #000;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -1px 0 #0000ff;
  background: #000;
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

@keyframes glitch-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}