body{
  background: #000;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  color: #EB6123;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.75vmin;
  padding-bottom: 15px;
}

.countdown-content{
  margin: 15px 15px 150px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13vmin;
  position: relative;
  color: #fff;
  z-index: 10;
  animation: fade-in 1s linear forwards;
}

img,
.header,
.date-text{
  opacity: 0;
}

.date-text{
  animation: fade-in 1s linear forwards 1s;
  margin-left: 2px;
}

img{
  position: absolute;
  height: 70vh;
  top: 10%;
  left: -35vh;
  animation: fade-in 2s linear forwards 2s;

}

.countdown-text{
  position: absolute;
  top: 10px;
  align-self: center;
  color: #fff;
  letter-spacing: 7vw;
}

.glitch{
  color: #fff;
  position: relative;
  width: 400px;
}

.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #ff0000;
  top: 0;
  color: #fff;
  background: #000;
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #0000ff; 
  top: 0;
  color: #fff;
  background: #000;
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(13)+vmin,9999px,random(13)+vmin,0);
    }
  }
}

@keyframes glitch-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(13)+vmin,9999px,random(13)+vmin,0);
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px){
  .countdown-text{
    letter-spacing: 5vw;
  }
  .countdown-content{
    margin-bottom: 15px;
  }
}